flush ruleset;
{% if 'management' in group_names %}
table inet mgmt_config {
      chain input {
            type filter hook input priority 0; policy drop;
            ct state established, related accept
            ct state invalid drop
            iif lo accept
            ip saddr {{management_ip}} tcp dport 22 accept
         }
      chain output {
            type filter hook output priority 0; policy drop;
            ct state established,related accept
            ct state invalid drop
            oif lo accept
            ip daddr {{web_ip}} tcp dport 22 accept
            ip daddr {{database_ip}} tcp dport 22 accept
            ip daddr {{dns_ip1}} udp dport 53 accept
            ip daddr {{dns_ip1}} tcp dport 53 accept
            ip daddr {{dns_ip2}} udp dport 53 accept
            ip daddr {{dns_ip2}} tcp dport 53 accept
            tcp dport 22 accept
            tcp dport 443 accept
            tcp dport 80 accept
         }
}
{% endif %}
{% if 'web' in group_names %}
table inet web_config {
        chain input {
              type filter hook input priority 0; policy drop;
              ct state established, related accept
              ct state invalid drop
              iif lo accept
              iifname "enp0s8" tcp dport 443 accept
              iifname "enp0s8" tcp dport 80 accept
              {% if management_ip is defined %}
                   iifname "enp0s3" ip saddr {{management_ip}} tcp dport 22 accept
              {% endif %}
            }
        chain output {
              type filter hook output priority 0; policy drop;
              ct state established, related accept
              ct state invalid drop
              oif lo accept
              {% if database_ip is defined %}
                  ip daddr {{database_ip}} tcp dport 50000 accept
              {% endif %}
            }
}
{% endif %}
